{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create New Nation</legend>

                <div class="form-group">
                    {{ form.country_name.label(class="form-control-label") }}
                    {% if form.country_name.errors %}
                        {{ form.country_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.culture.label(class="form-control-label") }}
                    {% if form.culture.errors %}
                        {{ form.culture(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.culture.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.culture(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.country_name_fascist.label(class="form-control-label") }}
                    {% if form.country_name_fascist.errors %}
                        {{ form.country_name_fascist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country_name_fascist.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country_name_fascist(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.country_name_democratic.label(class="form-control-label") }}
                    {% if form.country_name_democratic.errors %}
                        {{ form.country_name_democratic(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country_name_democratic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country_name_democratic(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.country_name_communist.label(class="form-control-label") }}
                    {% if form.country_name_communist.errors %}
                        {{ form.country_name_communist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country_name_communist.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country_name_communist(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.country_name_neutral.label(class="form-control-label") }}
                    {% if form.country_name_neutral.errors %}
                        {{ form.country_name_neutral(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country_name_neutral.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country_name_neutral(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.country_tag.label(class="form-control-label") }}
                    <h7 class="text-muted"> Example: JFK </h7>
                    {% if form.country_tag.errors %}
                        {{ form.country_tag(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country_tag.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country_tag(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.ruling_ideology.label(class="form-control-label") }}
                    {% if form.ruling_ideology.errors %}
                        {{ form.ruling_ideology(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ruling_ideology.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ruling_ideology(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.RGB_color.label(class="form-control-label") }}
                    <h7 class="text-muted"> Example: 255 149 89 <a href="https://www.rapidtables.com/web/color/RGB_Color.html" target="_blank">Choose color here</a></h7>
                    {% if form.RGB_color.errors %}
                        {{ form.RGB_color(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.RGB_color.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.RGB_color(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
    </div>
{% endblock content %}