{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <center>
    <h5>Now paste the contents of the zip into Documents/Paradox Interactive/Hearts of Iron 4/mods</h5>
            <img src="/static/example.png" alt="State Map" width="1110" height="400">
            <h5>Then open your Hoi4 launcher, select the playlist you want, then the "ADD MORE MODS" button</h5>
            <h5>and finally tick your mod and launch the game.</h5>
        </center>

    </div>
{% endblock content %}
