{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
<center>
    <h3>Nation Added to Mod</h3>
        <hr>
            <input type="submit" name="open" value="Add Another Nation">
            <input type="submit" name="close" value="Load Mod and Finish">
            <input type="submit" name="reset" value="Create New Mod">
</center>

            {% for nation in nations  %}
                <div class="container p-3 my-3 border">
                    <h1>{{ nation.nation_name }}</h1>
                </div>
            {% endfor %}


        </form>
    </div>
    <div class="border-top pt-3">
    </div>
<div class="content-section">
        <center>
    <h5>When you download, paste the contents of the zip into Documents/Paradox Interactive/Hearts of Iron 4/mods</h5>
            <img src="/static/example.png" alt="State Map" width="1110" height="500">
            <h5>Then open your Hoi4 launcher, select the playlist you want, then the "ADD MORE MODS" button</h5>
            <h5>and finally tick your mod and launch the game.</h5>
        </center>

    </div>
{% endblock content %}